









nav,
footer section:first-child {
    background-color: rgb(44,62,80);
    }

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

nav a {
    display: inline-block;
    color: white;
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
}

ul {
    display: inline-block;
    float: right;
    padding: 20px 10px;
}

li {
    display: inline-block;
    padding-left: 30px;
}

nav .container .h3 {
    color: white;
    text-decoration: none;
}

nav ul a:hover {
    color: rgb(26,188,156);
    text-decoration: none;
}

nav .container button {
    border: none;
    padding: 10px;
    float: right;
    margin: 35px 0 40px;;
    display: none;
}

nav .container button a {
    margin: 0 auto;
    font-size: 15px;

}


header,
main section:nth-child(2) {
    background-color: rgb(26,188,156);
    text-align: center;
    color: white;
    padding: 80px 0;
}

header {
    margin-top: 115px;
}

header img {
    height: 255px;
    width: auto;
    margin-bottom: 20px;
}

h1 {
    font-size: 70px;
    font-weight: bold;
}

.stella{
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0;

}

.barra-bianca {
    display: inline-block;
    width: 10%;
    height: 4px;
    background-color: white;
    border-radius: 5px;
    transform:translateY(-450%);
}

header p {
    margin-top: 20px;
    font-size: 20px;
    font-weight: lighter;

}

main section:first-child .container,
main section:last-child .container {
    color: rgb(44,62,80);
    text-align: center;
    padding: 80px 0;
}


h2 {
    font-size: 45px;
    font-weight: bold;
}

.blu {
    background-color: rgb(44,62,80);
}


.row div:not(.immagine) {
    padding: 20px;
}

main img {
    height: auto;
    width: 100%;
    border-radius: 10px;
}


.immagine {
    position: relative;
    background-color: rgb(26,188,156);
    border-radius: 10px;

}

.immagine i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    display: none;
}

.immagine:hover img {
    opacity: 0.2;
}

.immagine:hover i {
    display: inline-block;
    z-index: 1
}


main p {
    font-size: 17px;
    text-align: left;
}

button {
    font-size: 17px;
    color: white;
    background-color: rgb(26,188,156);
    padding: 20px 25px;
    border: 1px solid white;
    border-radius: 10px;
}

button:hover {
    color: black;
    background-color: white;

}
footer section:first-child {

}
footer section:last-child {
    background-color: rgb(26,37,47);
    padding: 20px 0;
}

footer {
    color: white;
    text-align: center;
}

.row {
    padding: 20px 0;
}

footer .container .row div {
    padding: 0 20px;
}

h3 {
    font-weight: bold;
}

footer p {
    font-size: 22px;
}

footer button {
    margin-top: 20px;
    margin-left: 5px;
    padding: 12px 15px;
    background-color: rgb(44,62,80);
    border: 2px solid white;
    border-radius: 50%;

}

footer button i {
    font-size: 20px;
}

.send:hover {
    background-color: #269890;
    color: white;
}

footer .container .row div:last-child a {
    color: rgb(26,188,156);
}

form {
    object-position: center;
}

form .row {
    padding: 0;
    text-align: left;
    margin-bottom: 20px;
}

form .row .input{
    padding: 20px 0;
}
.input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(233,236,239);
    text-align: left;
}

input {
    width: 100%;
    border: none;
    font-size: 25px;
    outline: none;
}



textarea {
    width: 100%;
    font-size: 25px;
    border: none;
    outline: none;
}

form button {
    margin-top: 20px;
}


@media screen and (max-width: 991px) {
    nav .container button {
        display: block;
    }

    ul {
        display: none;
    }
}
